.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #2d89ef;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 40px;
  margin-right: 10px;
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
}
